/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require fullcalendar
 *= require_tree .
 *= require_self
 *= require daterangepicker
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";

.container {
	@extend .my-5
}

#viewDiv{
    padding: 0;
    margin: 0;
    height: 500px;
    width: 100%;
    overflow:hidden;
}
#amap{
    padding:0;
    margin:0;
    width:1110px;
    height:500px;
}

#viewDiv .esri-widget{
    display:none;
}

.calendarsize {
    border-radius: 20px;
    width: 1000px;
    height: 1000px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100;
}

.bg-maroon {
	background-color: #500000;
	color: #fff;
}

